**/.idea/
**/.images/
**/.ssh/
**/.terraform.*
**/.terraform/*
**/*.backup
**/*.json
**/*.tfstate
**/*.tfstate.backup
**/base-image/Dockerfile
**/chicken-egg/2-migrate-local-state/backend.tf
**/environments/
**/images
**/terraform.plan
